@import url('https://fonts.cdnfonts.com/css/engcomica');

.formBG{
    font-family: 'Engcomica', sans-serif;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.1vw black;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 2vw;
    font-size: 3vw;
}

.values{
    text-align: center;
    margin-top: 3vw;
}

.values label{
    font-size: 1.5vw;
}

.values input{
    font-family: 'Engcomica', sans-serif;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: solid 2px #000;
    border-radius: 1vw;
    padding: 0.8vw;
}

.buttons{
    text-align: center;
}

.buttons button{
    font-family: 'Engcomica', sans-serif;
    margin: 2vw;
    font-size: 1.2vw;
    border-radius: 1vw;
    padding: 0.5vw;
}